<section>
	<header>
		<h1>Users</h1>
	</header>
	<div>
		<% if !@users.empty? %>
		  <% for user in @users %>
		  	<div>
		  		<%= user %>
		  		<%= link_to "View Profile", user_path(user) %>
		  	</div>  
		  <% end %>
		<% else %>
		  <div>No users</div>
		<% end %>
	</div>
</section>