<footer id="footer">
	<div id="footer-first-div">
		<div id="footer-menu">
			<h3>Services</h3>
		</div>
		<div id="contact">
			<h3>Contact</h3>
		</div>
		<div id="media">
			<h3>Social media</h3>
		</div>
	</div>
	
	<div>
		<small><span>&copy; all rights reserved</span> ladecoplus</small>
	</div>
</footer>